body {
    background-color: cadetblue;
    display: grid;
    justify-content: center;
}

.container {
    display: grid;
    text-align: center;
}

.container h1 {
    color: rgba(14, 10, 10, 0.85);
    font-weight: 700;
    font-size: 56px;
}

.inputs {
    margin-top: 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input {
    width: 100%;
    text-align: center;
    height: 46%;
    margin: 24px;
    border: none;
    border-radius: 60px;
    font-size: 22px;
    font-weight: bold;
}

.inputs .button {
    color: rgba(255, 255, 255, 0.89);
    background-color: rgba(165, 42, 42, 0.781);
    width: 40%;
    height: 30%;
}

.button:hover {
    cursor: pointer;
}

.textContent {
    display: none;
    justify-content: center;
    margin-top: 5%;
}

.textContent p {
    text-align: center;
    font-size: 28px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 16px;
}