body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}

.container {
    /* background-color: rgba(100, 160, 95, 0.61); */
    display: grid;
    text-align: center;
}

.container h1 {
    font-weight: 700;
    font-size: 48px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input {
    width: 100%;
    text-align: center;
    height: 24px;
    margin: 8px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

.inputs .button {
    color: rgba(255, 255, 255, 0.89);
    background-color: rgba(165, 42, 42, 0.781);
    width: 40%;
}

.button:hover {
    cursor: pointer;

}